/** @format */

// lets import the font to use =>
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

:root{
    --primaryColor: hsl(255, 50%, 48%);
    --secondaryColor: hsl(180, 17%, 95%);
    --colorOne: hsl(15,74%, 70%);
    --colorTwo: hsl(28, 100%, 82%);
    --hoverColor: hsl(225, 56%, 59%);
    --whiteColor: hsl(0, 0%, 100%);
    --blackColor: hsl(0, 0%, 12%);
    --textColor: hsl(240, 1%, 48%);
    --borderColor: hsl(0,0%,93%);
    --whiteColorDeam: hsl(0,0%,93%);
    --greyText: rgb(145,145,145);
    --greyBg: rgb(235, 232, 232);
    --inputColor: hsl(330,12%,97%);
    --boxShadow: box-shadow: rgba(0,0,0,0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    --transition: .4s ease-in-out;
}


//Default styling =========>
body{
    background: var(--whiteColor);
}

a{
    text-decoration: none;
}

li{
    list-style: none;
    cursor: pointer;
}

.section{
    padding: 4rem 0 2rem;
}

.container{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

.icon{
    font-size: 1.3rem;
    cursor: pointer;
}

.flex{
    display: flex;
    align-items: center;
}

.grid{
    display: grid;
    align-items: center;
}

.none{
    display: none;
}

.error {
    color: #ff4d4f;
    font-size: 12px;
    margin-top: 5px;
}

.btn{
    padding: .7rem 1.5rem;
    background: var(--primaryColor);
    border: none;
    outline: none;
    border-radius: 3rem;
    cursor: pointer;
    color: var(--whiteColor);
    a{
        color: var(--whiteColor);
        font-weight: 500;
    }
    &:hover{
        background: var(--hoverColor);
    }
}

img, video{
    width: 100%;
    height: auto;
}

input{
    font-size: 100%;
    height: auto;
}

p{
    font-size: 13px;
    color: var(--greyText);
    line-height: 22px;
}

h4{
    padding: 1rem 0;
    font-weight: 700;
    color: var(--blackColor);
}

h2{
    font-size: 25px;
    padding: 1rem 0;
    color: var(--blackColor);
}

.back-to-home-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 14px;
  border-radius: 5px;
  transition-duration: 0.4s;
  cursor: pointer;
  margin: 20px auto 0;
  display: block;
  outline: none;

  &:hover {
    background-color: #0056b3;
  }
}

//AllFlight page styling =====>
.flight-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  background-image: url('https://images.pexels.com/photos/4715493/pexels-photo-4715493.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  background-size: cover;
  padding: 20px;
  font-family: 'Poppins', sans-serif;

  .headers {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    .flight-header {
      text-align: center;
      color: #333;
      margin: 0;
    }

    .back-to-home-button {
      background-color: #007bff;
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      transition-duration: 0.4s;
      cursor: pointer;
      outline: none;

      &:hover {
        background-color: #0056b3;
      }
    }
  }

  .flight-intro {
    width: 100%;
    text-align: center;
    color: #666;
    margin-bottom: 40px;
  }

  .flight-card {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    margin: 20px;
    padding: 20px;
    width: calc(100% - 40px);
    transition: transform .2s;

    &:hover {
      transform: scale(1.1);
    }

    .flight-title {
      color: #333;
      margin-bottom: 10px;
    }

    button {
      background-color: #28a745;  // Green color
      color: white;
      border: none;
      padding: 10px 20px;
      font-size: 14px;
      border-radius: 5px;
      transition-duration: 0.4s;
      cursor: pointer;
      outline: none;
      margin-top: 10px;  // Add margin for spacing

      &:hover {
        background-color: #218838;  // Darker green color on hover
      }
    }
  }

  @media (min-width: 600px) {
    .flight-card {
      width: calc(50% - 40px);
    }
  }

  @media (min-width: 900px) {
    .flight-card {
      width: calc(33% - 40px);
    }
  }

  @media (max-width: 768px) {
    .headers {
      flex-direction: column;
      align-items: center;

      .back-to-home-button {
        margin-top: 15px;  // Adjust margin for spacing
      }
    }

    .flight-card {
      width: calc(100% - 40px);  // Adjust width for smaller screens
    }
  }
}

//Features page styling =====>
.features {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;

  h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }

  section {
    margin-bottom: 2em;

    h2 {
      color: #3498db;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    p {
      color: #34495e;
      font-size: 1em;
      line-height: 1.5;
    }

    ul {
      list-style-type: none;
      padding-left: 1em;

      li {
        margin-bottom: 1em;
        padding-left: 1em;
        text-indent: -1em;

        &::before {
          content: '• ';
          color: #3498db;
        }
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    h1 {
      font-size: 1.5em;
    }
    p, li {
      font-size: 0.9em;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    h1 {
      font-size: 1.2em;
    }
    p, li {
      font-size: 0.8em;
    }
  }
}

//admin page styling =====>
.admin {
  display: flex;
  flex-direction: row;
  font-family: Arial, sans-serif;

  .row {
    display: flex;
    flex-direction: row;

    .content {
      margin-left: 20px;
      background-color: #f9f9f9;
      padding: 20px;
      border-radius: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

      h1 {
        color: #333;
        font-size: 24px;
        font-weight: bold;
      }

      p {
        color: #666;
        line-height: 1.6;
        font-size: 16px;
      }

      h2 {
        color: #333;
        margin-top: 20px;
        font-size: 20px;
        font-weight: bold;
      }

      ul {
        padding-left: 20px;

        li {
          color: #666;
          line-height: 1.6;
          font-size: 16px;
          list-style-type: square;
        }
      }
    }
  }
}


//HowTo page styling =====>
.howto {
  width: 80%;
  height: 100%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;

  h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }

  p {
    color: #34495e;
    font-size: 1em;
    line-height: 1.5;
  }

  ol {
    counter-reset: item;
    list-style-type: none;

    li {
      counter-increment: item;
      margin-bottom: 1em;

      &::before {
        content: counter(item);
        margin-right: 0.5em;
        font-size: 1.2em;
        background-color: #3498db;
        color: #fff;
        border-radius: 50%;
        width: 1.2em;
        height: 1.2em;
        text-align: center;
        display: inline-block;
      }

      strong {
        color: #2c3e50;
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    h1 {
      font-size: 1.5em;
    }
    p {
      font-size: 0.9em;
    }
  }

  @media (max-width: 480px) {
    width: 100%;
    h1 {
      font-size: 1.2em;
    }
    p {
      font-size: 0.8em;
    }
  }
}

//HowTo page styling =====>
.faq {
  width: 80%;
  margin: auto;
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 10px;

  h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 2em;
    margin-bottom: 1em;
  }

  section {
    margin-bottom: 2em;

    h2 {
      color: #3498db;
      font-size: 1.5em;
      margin-bottom: 1em;
    }

    ul {
      list-style-type: none;

      li {
        margin-bottom: 1em;
        padding-left: 1em;
        text-indent: -1em;

        &::before {
          content: '• ';
          color: #3498db;
        }

        strong {
          color: #2c3e50;
        }
      }
    }
  }
}

//No-Flight page styling =====>
.no-flights {
    text-align: center;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    margin: 20px 0;
  
    h3 {
      color: #333;
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    p {
      color: #666;
      font-size: 18px;
    }
  
    button {
      background-color: #008CBA;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
      transition-duration: 0.4s;
    }
  
    button:hover {
      background-color: #4CAF50; /* Green */
      color: white;
    }
}

//navBar section styling =====>
.navBar {
    position: fixed;
    flex-direction: column;
    width: 100%;
    z-index: 1000;
  
    .navBarOne,
    .navBarTwo {
      justify-content: space-between;
      padding: 1rem;
      width: 100%;
    }
  
    .navBarOne {
      background: var(--secondaryColor);
  
      .icon:hover {
        color: var(--primaryColor);
      }
  
      .atb {
        gap: 1rem;
  
        span {
          color: var(--blackColor);
          font-size: 13px;
          cursor: pointer;
  
          &:hover {
            color: var(--primaryColor);
            font-weight: 700;
          }
        }
  
        .welcomeButton {
          background: none;
          border: none;
          cursor: pointer;
          font-weight: bold;
          display: flex;
          align-items: center;
          color: var(--blackColor);
  
          &:hover {
            color: var(--primaryColor);
            font-weight: 700;
          }
  
          span {
            font-size: 1.1em;
            margin-right: 8px;
          }
        }
      }
    }
  
    .navBarTwo {
      display: flex;
      align-items: center;
      justify-content: space-between;
      top: 3rem;
      padding: 1.5rem 1rem;
      position: fixed;
      transition: 0.3s ease-in-out;
  
      .logoDiv {
        .logo {
          width: 20%;
        }
      }
  
      @media screen and (max-width: 768px) {
        .navBarMenu {
          position: absolute;
          background: var(--secondaryColor);
          padding: 1.5rem;
          border-radius: 10px;
          top: 5rem;
          right: -50%;
          width: 80%;
          transform: translate(50%);
          z-index: 2000;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
          border: 3px solid var(--whiteColor);
          transition: 0.4s ease-in-out;
  
          .menu {
            flex-direction: column;
            gap: 0.5rem;
            text-align: center;
  
            .listItem {
              padding: 0.5rem 0;
              cursor: pointer;
              color: var(--blackColor);
  
              &:hover {
                color: var(--primaryColor);
                font-weight: 700;
              }
            }
          }
          .btnOne {
            display: block;
            justify-content: center;
            margin: auto;
            margin-top: 1rem;
          }
        }
  
        .btnTwo {
          display: none;
        }
      }
  
      .toggleIcon {
        .icon {
          font-size: 30px;
          color: var(--blackColor);
        }
      }
  
      .showNavBar {
        right: 50%;
        transition: 0.5s ease-in-out;
      }
    }
  
    .navBar_With_Bg {
      background: var(--secondaryColor);
      padding: 0.5rem 1rem;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    }
}

// Home Section styling =====>
.header{
    padding: 10rem;
    text-align: center;
    gap: 2rem;
    flex-direction: column;

    .mainText{
        color: var(--blackColor);
        font-weight: 700;
        font-size: 15px;
        line-height: 2.5rem;
    }

    .headerImages{
        width: 100%;
        margin: 1rem auto 0;
        justify-content: center;
        align-items: center;
        position: relative;
        border-radius: 5rem;

        .videoDiv{
            width: 100%;
            .video{
                border-radius: 10rem;
            }
        }
        .plane{
            position: absolute;
            width: 100%;
            top: -10%;
            left: -19%;
        }
    }
}

// Search Section styling =====>
.search {
    .sectionContainer {
      width: 100%;
      padding: 1.5rem;
      border: 2px solid var(--greyBg);
      border-radius: 2rem;
  
      .btns {
        background: var(--secondaryColor);
        padding: 0.5rem;
        border-radius: 1rem;
        flex-direction: column;
        width: 100%;
        margin: auto;
        margin-bottom: 20px;
  
        .singleBtn {
          padding: 0.8rem 1.5rem;
          font-size: 13px;
          border-radius: 3rem;
          width: 80%;
          text-align: center;
  
          &:hover {
            background: var(--primaryColor);
            color: var(--whiteColor);
            font-weight: 500;
            transition: 0.4s ease;
          }
        }
  
        .active {
          background: var(--primaryColor);
          color: var(--whiteColor);
          font-weight: 500;
        }
      }
  
      .searchInputs {
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 1.5rem;
  
        .singleInput {
          .iconDiv {
            padding: 16px 10px;
            border-radius: 3rem;
            background: var(--secondaryColor);
            margin-right: 1rem;
  
            .icon {
              color: var(--blackColor);
              opacity: 0.7;
            }
          }
  
          .texts {
            h4 {
              padding-top: 0;
              padding-bottom: 0.7rem;
              color: var(--blackColor);
              font-weight: 700;
            }
  
            input {
              width: 95%;
              border: none;
              outline: none;
              background: transparent;
  
              &::placeholder {
                font-size: 12px;
                opacity: 0.5;
              }
            }
          }
        }
      }
    }
  }
  

// Support Section styling =====>
.support{
    .sectionContainer{
        .tittlesDiv{
            text-align: center;
            small{
                letter-spacing: .8rem;
                text-transform: uppercase;
                font-size: 13px;
                color: var(--blackColor);
                line-height: 1.5rem;
            }
        }

        .infoDiv{
            margin-top: 2rem;
            gap: 1.5rem;

            .textDiv{
                gap: 1.5rem;

                .singleInfo{
                    .number{
                        background: var(--primaryColor);
                        padding: 5px 12px;
                        width: 40px;
                        border-radius: 3rem;
                        text-align: center;
                        font-size: 13px;
                        font-weight: 700;
                        color: var(--whiteColor);
                    }

                    .colorOne{
                        background: var(--colorOne);
                    }

                    .colorTwo{
                        background: var(--colorTwo);
                    }
                }
            }

            .imgDiv{
                margin: auto;

                img{
                    width: 100%;
                    max-width: 420px;
                }
            }
        }
    }
}

// Info Section styling =====>
.info{
    background: var(--secondaryColor);
    .infoContainer{
        .titleDiv{
            flex-direction: column;
            text-align: center;
            gap: 1.5rem;
            justify-content: space-between;
        }

        .cardsDiv{
            gap: 1.5rem;
            margin-top: 3rem;

            .singleCard{
                background: var(--whiteColor);
                padding: 3rem 2rem;
                border-radius: 10rem;
                gap: 1rem;
                text-align: center;
                margin: auto;
                height: 320px;
                width: 90%;
                max-width: 250px;

                .iconDiv{
                    justify-content: center;
                    margin: auto;
                    background: var(--primaryColor);
                    width: max-content;
                    height: 55px;
                    padding: 1rem;
                    border-radius: 3rem;

                    .icon{
                        color:var(--whiteColor);
                    }
                }

                .cardTitle{
                    color: var(--blackColor);
                    font-weight: 700;
                }

                .colorOne{
                    background: var(--colorOne);
                }

                .colorTwo{
                    background: var(--colorTwo);
                }
            }
        }
    }
}

// Lounge Section styling =====>
.lounge{
    .sectionContainer{
        gap: 1.5rem;

        .imgDiv{
            margin: auto;
            img{
                width: 100%;
                max-width: 430px;
            }
        }

        .textDiv{
            .grids{
                margin-top: 1rem;
                gap: 1.5rem;

                .singleGrid{
                    .gridTitle{
                        display: block;
                        padding-bottom: .5rem;
                        font-weight: 500;
                        color: var(--blackColor);
                    }
                }
            }
        }
    }
}

// Travelers Section styling =====>
.travelers {
    text-align: center;

    .sectionContainer {
        text-align: center;
        
        .travelersContainer {
        margin-top: 1rem;
        gap: 1.5rem;
        
        .singleTraveler {
            position: relative;
            height: 320px;
            width: 85%;
            max-width: 250px;
            overflow: hidden;
            border-radius: 10rem;
            gap: 1rem;
            margin: auto;
            
            .destinationImage,
            .travelerImage,
            .travelerName {
            position: absolute;
        }
        
        .destinationImage {
            height: 100%;
            width: 100%;
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            object-fit: cover;
        }
        
        .travelerImage {
            height: 50px;
            width: 50px;
            object-fit: cover;
            border-radius: 50%;
            bottom: 30px;
            left: 40%;
            transform: translateX(-50%);
            border: 5px solid rgba(225, 225, 225, 0.637);
            transition: var(--transition);
            animation: animated 2.3s infinite;
        }
        
        @keyframes animated {
            0% {
                transform: translateY(0px);
            }
            50% {
                transform: translateY(8px);
            }
            100% {
                transform: translateY(0px);
            }
        }
        
        .travelerName {
            bottom: -100%;
            width: 100%;
            height: max-content;
            background: var(--whiteColor);
            padding: 1.5rem 1rem;
            transition: var(--transition);
            animation: animatedBorders 2.3s infinite;
            
            span {
                display: block;
                color: black;
                font-weight: 700;
            }
            
            p {
                color: var(--primaryColor);
                font-style: italic;
            }
        }
        
        @keyframes animatedBorders {
            0% {
                border-radius: 0rem;
            }
            50% {
                border-radius: 2rem;
            }
            100% {
                border-radius: 0rem;
            }
        }
        
        &:hover {
            .travelerName {
                bottom: 0;
                transition: 1s ease-in-out;
            }
            
            .travelerImage {
                bottom: 110px;
                transition: 1s ease-in-out;
            }
            }
            }
        }
    }
}

// Footer Section styling =====>
.footer{
    background: var(--secondaryColor);

    .sectionContainer{
        gap: 2.5rem;

        .gridOne{
            gap: 1rem;
            justify-content: center;
            margin: auto;

            .logoDiv{
                .Logo{
                    width: 20%;
                }
            }

            .socialIcon{
                margin-top: 1rem;
                gap: 1rem;

                .icon{
                    height: 50px;
                    width: 30px;
                    border-radius: 10rem;
                    border: 1px solid var(--borderColor);
                    box-shadow: var(--boxShadow);
                    padding: .4rem;
                    color: var(--greyText);

                    &:hover{
                        background: var(--primaryColor);
                        transform: translateY(-7px);
                        transition: var(--transition);
                        border: 1px solid var(--primaryColor);
                        color: var(--whiteColor);
                    }
                }
            }
        }

        .footerLinks{
            display: grid;

            .linkTitle{
                color: var(--blackColor);
                font-weight: 500;
                display: block;
                padding-bottom: 1rem;
            }

            li a{
                display: block;
                color: var(--greyText);
                transition: var(--transition);
                padding: .3rem 0;

                &:hover{
                    transform: translateX(7px);
                    color: var(--primaryColor);
                }
            }
        }
    }

    .copyRightDiv{
        justify-content: center;
        margin-top: 1.5rem;
        padding: 1rem;
        gap: 1rem;
        border-top: 1px solid var(--greyText);
        text-align: center;
    }
}

// Signin page STYLING =====>
.SignIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(0deg 0% 0%);

  h2 {
    color: var(--whiteColor);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px;
    background: var(--whiteColorDeam);
    box-shadow: var(--boxShadow);

    div {
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
        color: var(--textColor);
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        color: var(--textColor);
        transition: var(--transition);

        &:focus {
          border: 1px solid var(--primaryColor);
        }
      }

      p {
        color: var(--colorOne);
        margin-top: 5px;
      }
    }
    

    button {
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background-color: var(--hoverColor);
      }
    }
  }
}

// Signin page STYLING =====>
.ForgotPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(0deg 0% 0%);

  h2 {
    color: var(--whiteColor);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px;
    background: var(--whiteColorDeam);
    box-shadow: var(--boxShadow);

    div {
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
        color: var(--textColor);
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        color: var(--textColor);
        transition: var(--transition);

        &:focus {
          border: 1px solid var(--primaryColor);
        }
      }

      p {
        color: var(--colorOne);
        margin-top: 5px;
      }
    }

    button {
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background-color: var(--hoverColor);
      }
    }
  }
}

// Signin page STYLING =====>
.ResetPassword {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(0deg 0% 0%);

  h2 {
    color: var(--whiteColor);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px;
    background: var(--whiteColorDeam);
    box-shadow: var(--boxShadow);

    div {
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
        color: var(--textColor);
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        color: var(--textColor);
        transition: var(--transition);

        &:focus {
          border: 1px solid var(--primaryColor);
        }
      }

      p {
        color: var(--colorOne);
        margin-top: 5px;
      }
    }

    button {
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background-color: var(--hoverColor);
      }
    }
  }
}


// Signin page STYLING =====>
.SignUp {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: hsl(0deg 0% 0%);

  h2 {
    color: var(--whiteColor);
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 1px solid var(--borderColor);
    border-radius: 10px;
    padding: 20px;
    background: var(--whiteColorDeam);
    box-shadow: var(--boxShadow);

    div {
      margin-bottom: 10px;

      label {
        margin-bottom: 5px;
        color: var(--textColor);
        font-weight: bold;
      }

      input {
        width: 100%;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid var(--borderColor);
        color: var(--textColor);
        transition: var(--transition);

        &:focus {
          border: 1px solid var(--primaryColor);
        }
      }

      p {
        color: var(--colorOne);
        margin-top: 5px;
      }
    }

    button {
      margin-top: 20px;
      padding: 10px;
      border: none;
      border-radius: 5px;
      background-color: var(--primaryColor);
      color: var(--whiteColor);
      cursor: pointer;
      transition: var(--transition);

      &:hover {
        background-color: var(--hoverColor);
      }
    }
  }
}

// Booking section STYLING =====>
.booking-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f5f5f5;
  font-family: Arial, sans-serif;

  h2 {
    color: #3f51b5;
    margin-bottom: 20px;
    animation: color-change 2s infinite;
  }

  p, ul {
    width: 80%;
    text-align: center;
    line-height: 1.6;
  }

  ul {
    list-style-type: none;
    padding: 0;

    li {
      margin-bottom: 10px;

      strong {
        color: #333;
      }
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f50057;
    }
  }
}

// Flights section STYLING ========>
.flights {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  height: 100vh;
  background: linear-gradient(to right, #340049, #000000);
  font-family: Arial, sans-serif;
  color: #fff;

  h2 {
    margin-bottom: 20px;
    animation: color-change 2s infinite;
  }

  p, ul {
    width: 80%;
    text-align: center;
    line-height: 1.6;
  }

  .table-container {
    width: 80%;
    max-height: 430px;
    overflow-x: auto;
    overflow-y: auto;
    margin-bottom: 20px;

    table {
      width: 100%;
      border-collapse: collapse;

      th, td {
        border: 1px solid rgb(113 0 119 / 51%);
        padding: 8px;
        text-align: left;
        background-color: #fff;
        color: #333;
      }

      th {
        background-color: #3f51b500;
        color: white;
      }

      tr:nth-child(even) {
        background-color: #f2f2f2;
      }

      tr:hover {
        background-color: #1d1d1dc0;
      }
    }
  }

  button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #3f51b5;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #f50057;
    }
  }

  @media (max-width: 768px) {
    p, ul, .table-container {
      width: 95%;
    }
  }

  @media (max-width: 480px) {
    p, ul, .table-container {
      width: 100%;
    }

    h2 {
      font-size: 1.5em;
    }

    p {
      font-size: 0.875em;
    }
  }
}

// UserBookings section STYLING ========>
.user-bookings {
  font-family: 'FormalFont', sans-serif;
  color: #333;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: 100vh;

  h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 2s;
    font-size: 28px;
  }

  ul {
    list-style-type: none;
    padding: 0;
    line-height: 1.6;
    overflow-y: auto !important;

    li {
      background-color: #dedede;
      border: 1px solid #cacaca;
      margin-bottom: 15px;
      padding: 15px;
      border-radius: 8px;
      transition: all 0.3s ease-in-out;

      div {
        margin-bottom: 15px;
      }

      button {
        background-color: #007bff;
        color: white;
        border: none;
        margin: 0 auto;
        display: block;
        padding: 10px 20px;
        font-size: 14px;
        border-radius: 5px;
        transition-duration: 0.4s;
        cursor: pointer;
        outline: none;

        &:hover {
          background-color: #0056b3;
        }
      }
    }
  }

  p {
    text-align: center;
    animation: fadeIn 2s;
    font-size: 16px;
    margin-bottom: 15px;
    color: #000000;
  }

  .bold {
    font-weight: 600;
  }

  .back-to-home-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 5px;
    transition-duration: 0.4s;
    cursor: pointer;
    margin: 20px auto 0;  // Updated margin to center the button
    display: block;
    outline: none;

    &:hover {
      background-color: #0056b3;
    }
  }

  @media (max-width: 768px) {
    width: 80%;
    margin: 0 auto;
    height: 100vh;

    ul li {
      padding: 10px;
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


// Profile section STYLING =====>
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');
.profile {
  width: 100%;
  height: 100vh;
  max-width: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: #f5f5f5;
  font-family: 'Roboto', sans-serif;
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  h1 {
    color: #3f51b5;
    text-align: center;
    margin-bottom: 20px;
    animation: color-change 2s infinite;
  }

  p {
    margin-bottom: 10px;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 0;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: #3f51b5;
      visibility: hidden;
      transition: all 0.3s ease-in-out;
    }

    &:hover::before {
      visibility: visible;
      width: 100%;
    }

    strong {
      color: #333;
    }
  }

  button {
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  button.edit {
    background-color: #4caf50;
    color: #fff;

    &:hover {
      background-color: #45a049;
    }
  }

  button.back {
    background-color: #2159ff;
    color: #fff;
    
    &:hover {
      background-color: #3e58ffe5;
    }
  }

  button.save {
    background-color: #3f51b5;
    color: #fff;

    &:hover {
      background-color: #3949ab;
    }
  }

  button.cancel {
    background-color: #f44336;
    color: #fff;

    &:hover {
      background-color: #d32f2f;
    }
  }
}

@keyframes color-change {
  0% { color: #3f51b5; }
  50% { color: #f50057; }
  100% { color: #3f51b5; }
}

// allfligth section STYLING =====>
.flight-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-image: url('background.jpg'); // Replace 'background.jpg' with the path to your image
    background-size: cover;
    padding: 20px;
  
    .flight-header {
      width: 100%;
      text-align: center;
      color: #333;
      margin-bottom: 20px;
    }
  
    .flight-intro {
      width: 100%;
      text-align: center;
      color: #666;
      margin-bottom: 40px;
    }
  
    .flight-card {
      background-color: rgba(255, 255, 255, 0.8); // Semi-transparent white
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
      margin: 20px;
      padding: 20px;
      width: calc(100% - 40px); // Full width on small screens
      transition: transform .2s; // Animation
  
      &:hover {
        transform: scale(1.1); // Grow on hover
      }
  
      .flight-title {
        color: #333;
        margin-bottom: 10px;
      }
    }
  
    @media (min-width: 600px) {
      .flight-card {
        width: calc(50% - 40px); // Half width on medium screens
      }
    }
  
    @media (min-width: 900px) {
      .flight-card {
        width: calc(33% - 40px); // One third width on large screens
      }
    }
}

// map page STYLING =====>
.map-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 10px;
}

.map-title {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.map-description {
  font-size: 16px;
  color: #666;
  margin-bottom: 10px;
}

.home-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #0056b3;
  }
}




// MEDIA SCREEN STYLING =====>
@media screen and (min-width: 480px) {
    // Home section styling =======>
    .home{
        padding-top: 12rem;
    }

    // Search section styling ========>
    .search{
        .sectionContainer{
            .searchInputs{
                display: grid;
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

    // Travel section styling =======>
    .travelers{
        .sectionContainer{
            .travelersContainer{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }

    // Travel section styling =======>
    .footer{
        .sectionContainer{
            align-items: flex-start;
            grid-template-columns: repeat(2,1fr);

            .footerLinks{
                justify-content: center;
            }
        }
    }
}

@media screen and (min-width: 570px) {
    //Home section styling =======>
    .home{
        .mainText{
            width: 80%;
        }

        .homeImages{
            .video{
                border-radius: 15rem;
            }

            .plane{
                position: absolute;
                width: 95%;
                top: -8%;
            }
        }
    }

    // Search section styling ========>
    .search{
        .sectionContainer{
            .btns{
                border-radius: 3rem;
                flex-direction: row;
            }
        }
    }

    // Support section styling ========>
    .support{
        .sectionContainer{
            .infoDiv{
                .textDiv{
                    margin-top: 2rem;
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }

    // Info section styling =========>
    .info{
        .infoContainer{
            .titleDiv{
                flex-direction: row;
                h2{
                    text-align: left;
                    max-width: 500px;
                }
            }

            .cardsDiv{
                grid-template-columns: repeat(2,1fr);
            }
        }
    }
    // Lounge section styling =========>
    .lounge{
        .sectionContainer{
            .textDiv{
                .grid{
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }

    // Footer section styling =======>
    .footer{
        .sectionContainer{
            padding-top: 2rem;
            grid-template-columns: repeat(3,1fr);
        }
    }
}

@media screen and (min-width: 680px) {
    // Home section styling ========>
    .home{
        .mainText{
            width: 80%;
        }

        .homeImages{
            .videoDiv{
                width: 80%;
                .video{
                    height: 100%;
                    width: 100%;
                    border-radius: 15rem;
                }
            }

            .plane{
                width: 95%;
                top: -8%;
            }
        }
    }
}

@media screen and (min-width: 768px){
    // Navbar section styling ========>
    .navBar{
        align-items: center;
        .navBarOne{
            .none{
                display: flex;
                gap: 1.5rem;

                li{
                    font-size: 13px;
                    gap: .5rem;
                    color: var(--textColor);

                    &:hover{
                        color: var(--primaryColor);
                        text-decoration: underline;
                    }
                }
            }
        }

        .navBarTwo{
            justify-content: space-between;
            align-items: center;

            .logoDiv{
                .Logo{
                    max-width: 20%;
                }
            }

            .menu{
                flex-direction: row;
                gap: 5rem;

                .listItem{
                    padding: 0 .5rem;
                    font-size: 14px;
                    cursor: pointer;
                    color: var(--textColor);
                    font-weight: 700;

                    &:hover{
                        color: var(--primaryColor);
                        font-weight: 700;
                    }
                }

            }

            .btnOne,.toggleIcon{
                display: none;
            }
        }
    }

    // Search section styling ========>
    .search{
        .sectionContainer{
            .btns{
                width: 70%;
                border-radius: 3rem;
                flex-direction: row;
            }
            .searchInputs{
                grid-template-columns: repeat(4,1fr);

                .singleInput{
                    .texts{
                        input{
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    // Support section styling ========>
    .support{
        .sectionContainer{
            .infoDiv{
                grid-template-columns: repeat(2,1fr);
                gap: 2rem;
                margin-top: 5rem;
                .textDiv{
                    margin-top: 0rem;
                    grid-template-columns: repeat(1,1fr);
                }
            }
        }
    }

    // Info section styling =========>
    .info{
        .infoContainer{
            padding: 0 6rem;
            .titleDiv{
                width: 90%;
                margin: auto;
                align-items: center;
            }
    
            .cardsDiv{
                grid-template-columns: repeat(3,1fr);

                .singleCard{
                    max-width: 260px;
                    padding: 1.5rem;
                }
            }
        }
    }

    // Lounge section styling =========>
    .lounge{
        .sectionContainer{
            grid-template-columns: repeat(2,1fr);
            .textDiv{
                .grids{
                    grid-template-columns: repeat(2,1fr);
                }
            }
        }
    }

    // Travelers section styling ==========>
    .travelers{
        .sectionContainer{
            .travelersContainer{
                grid-template-columns: repeat(3,1fr);
            }
        }
    }
}

@media screen and (min-width: 960px){
        // Home section styling ========>
        .home{
            padding-top: 13rem;
            .mainText{
                width: 70%;
                padding-bottom: 1.5rem;
                font-size: 22px;
                line-height: 4rem;
            }
        }

        // Search section styling ========>
        .search{
            .sectionContainer{
                .searchInputs{
                    grid-template-columns: repeat(5,1fr);
                }
            }
        }

        // Travelers section styling ==========>
        .travelers{
            .sectionContainer{
                .travelersContainer{
                    grid-template-columns: repeat(4,1fr);
                    margin: 3rem 0;
                }
            }
        }
}

@media screen and (min-width: 1024px){
    // Default styling ======>
    p{
        font-size: 15px;
        line-height: 25px;
    }
    
    h4{
        font-size: 15px;
    }
    
    h2{
        font-size: 27px;
    }

    .section{
        padding: 6rem 0 4rem;
    }

    .container{
        width: 85%;
        margin: auto;
    }

    // Navbar section styling ========>
    .navBar{
        .navBarOne, .navBarTwo{
            padding: 1rem 5rem;
        }

        .navBar_With_Bg{
            padding: 0 5rem;
        }
    }

        // Home section styling ========>
        .home{
            .mainText{
                width: 60%;
                font-size: 25px;
                line-height: 4rem;
            }

            .homeImages{
                .videoDiv{
                    width: 90%;
                    height: 300px;

                    .video{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        border-radius: 15rem;
                    }
                }
            }

            .plane{
                width: 100%;
                top: -10%;
            }
        }
    
}